.card {
	box-shadow: -0.2rem 0.4rem 0.4rem rgba(#000000, 0.05);
}

.rounded {
	border-radius: 0.5rem;
}

.white {
	background: var(--white);
}

.gray {
	background: var(--bg);
}

.blue {
	background: var(--white-blue);
}

.transparent {
	background: transparent;
	box-shadow: none;
}
