:root {
	--bg: #07090a;

	--black: #b1bdc4;
	--gray: #7a7f87;
	--gray-search: #5b5b5b;
	--gray-light: #141414;
	--gray-rate: #444444;
	--gray-border: #202020;
	--gray-line: #2d2d2d;
	--ghost: #1d1d1d;
	--white: #000000;
	--ice-blue: #383c44;
}
