:root {
	--bg: #f5f6f8;

	--black: #3b434e;
	--gray: #787d85;
	--gray-search: #a4a4a4;
	--gray-light: #ebebeb;
	--gray-rate: #bbbbbb;
	--gray-border: #dfdfdf;
	--gray-line: #d2d2d2;
	--ghost: #e2e2e2;
	--white: #ffffff;
	--ice-blue: #b3c0d9;
}
