:root {
	--bg: #f5f6f8;
	--super-black: #000;
	--black: #3b434e;
	--gray: #787d85;
	--gray-search: #a4a4a4;
	--gray-light: #ebebeb;
	--gray-rate: #bbb;
	--gray-border: #dfdfdf;
	--gray-line: #d2d2d2;
	--gray-dot: #c4c4c4;
	--ghost: #bebebe;
	--white: #fff;
	--white-blue: #f9f8ff;
	--ice-blue: #b3c0d9;
	--primary: #563cb7;
}
