@import '../../../styles/mixins';

.form {
	display: grid;
	grid-template-columns: [start] auto 1fr auto [end];
	align-items: center;
	gap: 4rem;
	font-size: 1.4rem;
	font-weight: 400;

	@include for-desktop {
		grid-template-columns: [start] 1fr 1fr [end];
	}

	@include for-tablet-standard {
		grid-template-columns: [start] 1fr [end];
	}
}

.title {
	justify-self: left;
}

.description,
.submit {
	grid-column: start / end;
}

.rating {
	display: grid;

	@include for-desktop {
		align-items: center;
		padding-left: 1rem;
		grid-column: start / end;
		grid-template-columns: min-content min-content;
		gap: 1rem;
	}

	@include for-small-phone {
		grid-template-columns: min-content;
	}
}

.submit {
	display: grid;
	grid-template-columns: auto 1fr;
	align-items: center;
	gap: 1.5rem;
	text-align: center;

	@include for-desktop {
		grid-template-columns: 1fr;
	}
}

.answer {
	position: relative;
	border-radius: 0.5rem;
	font-size: 1.6rem;
	font-weight: 400;

	&._success {
		color: var(--green);
		background: var(--green-light);

		.answerClose svg {
			stroke: var(--green);
		}
	}

	&._reject {
		color: var(--red);
		background: var(--red-light);

		.answerClose svg {
			stroke: var(--red);
		}
	}

	@include for-phone {
		font-size: 1.4rem;
	}
}

.answerTitle {
	font-weight: 700;
}

.answerClose {
	position: absolute;
	top: 2rem;
	right: 2rem;
	cursor: pointer;
	border: none;
	background: none;
}
