.wrapper {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 4rem;
}

.sort {
	display: flex;
	align-items: center;
	cursor: pointer;
	border: none;
	background: none;
	gap: 0.8rem;

	&._active {
		.text {
			color: var(--primary);
			font-weight: 700;
		}

		.icon {
			width: 2rem;
			opacity: 1;
		}
	}
}

.sortName {
	display: none;
}

.icon {
	display: inline-block;
	width: 0;
	transition: width 0.4s ease 0s, opacity 0.4s ease 0s;
	opacity: 0;
}

.text {
	transition: color 0.4s ease 0s, font-weight 0.4s ease 0s;
	color: var(--black);
	font-size: 1.6rem;
	font-weight: 400;
}
