.advantages {
	display: grid;
	gap: 3rem;
}

.advantage {
	display: grid;
	grid-template-columns: 5rem 1fr;
	gap: 1rem 4rem;
}

.mark {
	width: 5rem;
	height: 5rem;

	display: flex;
	justify-content: center;
	align-items: center;

	background: var(--green-light);
	border-radius: 50%;
}

.title {
	align-self: center;

	color: var(--black);
	font-size: 2rem;
	font-weight: 700;
}

.line {
	height: 100%;
	width: 0;
	justify-self: center;

	border: none;
	border-left: 0.2rem solid var(--gray-line);
}
