.button {
	padding: 1rem;
	cursor: pointer;
	text-align: center;
	border-radius: 0.5rem;
	font-size: 1.4rem;
	font-weight: 400;
}

.primary {
	transition: background 0.3s ease 0s;
	color: var(--white);
	border: none;
	background: var(--primary);

	.arrow svg {
		fill: var(--white);
	}

	&:hover,
	&:focus {
		background: var(--primary-hover);
	}
}

.ghost {
	padding: 0.8rem 1.4rem;
	transition: background 0.3s ease 0s, color 0.3s ease 0.2s;
	color: var(--black);
	border: 1px solid var(--gray-light);
	background: var(--white);

	.arrow svg {
		fill: var(--black);
		transition: fill 0.3s ease 0.2s;
	}

	&:hover,
	&:focus {
		color: var(--white);
		background: var(--primary);

		.arrow svg {
			fill: var(--white);
		}
	}
}

.arrow {
	display: inline-block;
	margin-left: 1rem;
	transition: transform 0.3s ease 0s;

	&.down {
		transform: rotate(90deg);
	}
}

.transparent {
	margin: 0;
	padding: 0;
	transition: color 0.3s ease 0.1s;
	color: var(--black);
	border: none;
	background: none;

	&:hover,
	&:focus {
		color: var(--primary);
	}
}
