* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
}

html,
body {
	color: var(--black);
	background: var(--bg);
	font-family: 'Noto Sans', sans-serif;
}

.body {
	overflow: hidden scroll;
	min-width: 100vw;
	min-height: 100vh;
}

// some reset styles
a {
	cursor: pointer;
	text-decoration: none;
	color: inherit;
}

ul,
ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

button {
	margin: 0;
	padding: 0;
	border: none;
	background: none;
}

// scrollbar
::-webkit-scrollbar-track {
	border-radius: 0.15rem;
	background-color: var(--gray-light);
}

::-webkit-scrollbar {
	width: 0.4rem;
	border-radius: 0.1rem;
}

::-webkit-scrollbar-thumb {
	border-radius: 1rem;
	background-color: var(--gray);
}

// global classes
.visualHidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
}
