:root {
	--font-family: 'Noto Sans', sans-serif;
	--primary-hover: #7653fc;
	--green: #0d5a3a;
	--green-border: #1dc37e;
	--green-light: #c8f8e4;
	--red: #de0000;
	--red-light: #fc836d;
	--yellow: #dcb44e;
}
